In [10]:
import pandas as pd

In [49]:
def reshape_passport(df):
    '''
    pivot style the passports index db
    '''
    # Melt the DataFrame to long format
    df_long = df.reset_index().melt(id_vars=df.index.name,
                                    var_name='to',
                                    value_name='value')

    # Rename 'index' column to 'from'
    df_long.rename(columns={df.index.name: 'from'}, inplace=True)

    # Filter out diagonal (self-relations where from == to or value == -1)
    df_long = df_long[df_long['from'] != df_long['to']]
    df_long = df_long[df_long['value'] != -1]
    return df_long

In [50]:
df = pd.read_csv('passports.csv', index_col=0)

In [52]:
passport = reshape_passport(df)
print(x)

                      from           to          value
0              Afghanistan      Albania         e-visa
2                  Algeria      Albania         e-visa
3                  Andorra      Albania             90
4                   Angola      Albania         e-visa
5      Antigua and Barbuda      Albania             90
...                    ...          ...            ...
39596            Venezuela  Afghanistan  visa required
39597              Vietnam  Afghanistan  visa required
39598                Yemen  Afghanistan  visa required
39599               Zambia  Afghanistan  visa required
39600             Zimbabwe  Afghanistan  visa required

[39402 rows x 3 columns]

In [53]:
passport[passport['from'] == 'Israel']

         from                   to            value
82     Israel              Albania               90
281    Israel              Algeria     no admission
480    Israel              Andorra               90
679    Israel               Angola               30
878    Israel  Antigua and Barbuda           e-visa
...       ...                  ...              ...
38688  Israel              Vietnam           e-visa
38887  Israel                Yemen     no admission
39086  Israel               Zambia  visa on arrival
39285  Israel             Zimbabwe  visa on arrival
39484  Israel          Afghanistan    visa required

[198 rows x 3 columns]